@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    font-family: 'Roboto';
}

.code {
    font-family: 'Roboto' !important;
    padding: 5px 0 0 0;
    border-radius: 10px;
    font-size: 20px;
    line-height: 1.4;
}

.warm-flame {
    background-color: #ff9a9e;
    background-image: linear-gradient(43deg, #ff9a9e 0%, #fad0c4 46%, #fad0c4 100%);
    color: #333;
}

.heavy-rain {
    background-color: #cfd9df;
    background-image: linear-gradient(43deg, #cfd9df 0%, #e2ebf0 46%, #e2ebf0 100%);
    color: #333;
}

.happy-fisher {
    background-color: #89f7fe;
    background-image: linear-gradient(43deg, #89f7fe 0%, #66a6ff 46%, #66a6ff 100%);
    color: #fff;
}

.clean-mirror {
    background-color: #89f7fe;
    background-image: linear-gradient(43deg, #89f7fe 0%, #e4efe9 46%, #e4efe9 100%);
    color: #333;
}

.premium-dark {
    background-color: #434343;
    background-image: linear-gradient(43deg, #434343 0%, #000000 100%);
    color: #fff;
}

.healthy-water {
    background-color: #96deda;
    background-image: linear-gradient(43deg, #96deda 0%, #50c9c3 46%, #50c9c3 100%);
    color: #fff;
}

.first {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: #fff;
}

.second {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.third {
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
    color: #fff;
}

.fourth {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.fifth {
    background-image: linear-gradient( 99deg,  rgba(115,18,81,1) 10.6%, rgba(28,28,28,1) 118% );
    color: #fff;
}

.sixth {
    background-image: radial-gradient( circle farthest-corner at 32.7% 82.7%,  rgba(173,0,171,1) 8.3%, rgba(15,51,92,1) 79.4% );
    color: #fff;
}

.seven {
    background-image: radial-gradient( circle 939px at 94.7% 50%,  rgba(0,178,169,1) 0%, rgba(0,106,101,1) 76.9% );
    color: #fff;
}

.small {
    align-items: center;
    overflow: hidden;
    resize: both;
    margin: 0px;
    padding: 3%;
    min-width: 400px;
}

.tbg {
    background: rgba(0,0,0,0.87) !important;
}

.icon {
    text-align: center;
}

.representing-icon {
    text-align: center;
    font-size: 100px !important;
    color: rgba(1,1,1,0.75);
    align-self: center;
}
